<div class="sidebar">
  <div class="d-flex flex-column flex-shrink-0 " style="width: 200px;  ">

    <ul class="nav nav-pills flex-column mb-auto" style="padding-top:30px ; gap: 10px;">
      <li class="nav-item"  >
        <a href="#" class="nav-link active" aria-current="page">
          <img src= "https://justjava2.share.zrok.io/images/Home/mage_dashboard-fill.png"  alt="" height="16px" width="16px" style="margin-left: 41px;">
          <span style="padding-left: 13px; color: red;">Overview</span>
        </a>
      </li>
      <li>
        <a href="https://justjava1.share.zrok.io/coached/employees" class="nav-link link-body-emphasis">
          <img src="https://justjava2.share.zrok.io/images/Home/raphael_people.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
          <span style="padding-left: 13px;">Employees</span>
        </a>
      </li>
      <li>
        <a href="https://justjava1.share.zrok.io/coached/coaches" class="nav-link link-body-emphasis">
          <img src="https://justjava2.share.zrok.io/images/Home/Vector.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
          <span style="padding-left: 13px;">Coaches</span>
        </a>
      </li>
      <li>
        <a href="https://justjava1.share.zrok.io/coached/invoices" class="nav-link link-body-emphasis">
          <img src="https://justjava2.share.zrok.io/images/Home/basil_invoice-solid.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
          <span style="padding-left: 13px;">Invoices</span>
        </a>
      </li>
      <li>
        <a href="https://justjava1.share.zrok.io/coached/session_history" class="nav-link link-body-emphasis">
          <img src="https://justjava2.share.zrok.io/images/Home/tabler_history.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
          <span style="padding-left: 13px;">Session History</span>
        </a>
      </li>
      <li>
        <a href="Chats.html" class="nav-link link-body-emphasis">
          <img src="https://justjava2.share.zrok.io/images/Home/flowbite_messages-solid.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
          <span style="padding-left: 13px;">Chats</span>
        </a>
      </li>
    </ul>

    <div class="dropdown" style="padding-top:80px ;">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none ">
        <img src="https://justjava2.share.zrok.io/images/Home/Vector@2x.png"  alt="" height="16px" width="16px" style="margin-left: 45px;">
        <span style="padding-left: 13px;">Log out</span>
      </a>

    </div>
  </div>
</div>
