
<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://fonts.googleapis.com/css?family=Urbanist" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#bookConfirm').on('click',function(){
                $('#bookConfirm').prop('disabled',true)
                $('#bookConfirm').html(`
                <div class="d-flex justify-content-center">
                     <div class="spinner-border spinner-border-sm "  role="status">
                            <span class="visually-hidden">Loading...</span>
                     </div>
                </div>
                `)
                $('.modal-body').load('/coached/bookSession',function(){
                    $('#confirm-modal').modal("show");
                });
            });

        });
    </script>
</head>
<body>
<div class="modal-body" id="confirm-modal">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <div style="padding:20px; height: 100%; width: 100%;">
        <h1 style="font-size: 16px;  font-weight: 700;">Preview and Submit</h1>
        <p style="color: #ED1B24; font-size: 12px; margin-top: 40px; font-weight: 500;">Coach</p>
        <div style="display: flex; gap: 37px; flex-wrap: wrap;">
            <div>
                <img th:src="@{'/'+${coach.myDisplayPicture}}" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 20%; object-fit: cover;">
            </div>
            <div style="margin-top: 10px;">
                <h2 style="font-size: 15px; color:black;font-weight: 400;" th:text="${coach.fullName}">Tommy Oliver</h2>
                <p style="font-size: 8px; color:#000;" th:text="${coach.experience} + ' Years Experience'">10 Years Experience <br>5.0</p>

            </div>
            <div style="margin-top: 10px;">
                <h2 style="font-size: 10px;color: black; font-weight: 700;">Focus Areas</h2>
                <p style="font-size: 8px; color: black;border-left: 1px solid red;padding-left: 3px;">
                    <th:block th:each="focus, i : ${coach.focusArea}">
                        <span style="font-size: 10px;" th:text="${focus}"> Leadership </span> |
                    </th:block>
                </p>
            </div>
        </div>
        <hr>
        <div class="row" style="--bs-gutter-x: 2.5rem">
            <div class="col-6">
                <h2 style="font-size: 12px; color: red; font-weight: 500;">Meeting Type</h2>
                <p style="font-size: 12px; color: black;" th:text="${bookingPreview.display}">One to Many (<span style="color: #646E82;">2 hours/session</span>)</p>
            </div>
            <div class="col-6">
                <h2 style="font-size: 12px; color: red; font-weight: 500;">Session Frequency</h2>
                <p style="font-size: 12px; color: black;" th:text="${bookingPreview.frequency}">12 <span style="color: #646E82;">sessions</span></p>
            </div>
            <div class="col-6">
                <h2 style="font-size: 12px; color: red; font-weight: 500;">Expected Start Date</h2>
                <p style="font-size: 12px; color: black;" th:text="${bookingPreview.proposedStartDate}">10/12/24</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 style="font-size: 12px; color: red; font-weight: 500;">Case Note</h2>
                <p style="font-size: 12px; color: black;" th:utext="${bookingPreview.caseNote}"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing . </p>
            </div>
        </div>
        <div class="row" style="--bs-gutter-x: 2.5rem">
            <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <h2 style="font-size: 12px; color: red; font-weight: 500;" th:text="'Added Coachees ('+${employees.size()} + ')'">Added Coachees (7)</h2>

                <ul id="preview" class="list-group overflow-auto" th:each="employee : ${employees}">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div id="laddItem2">
                            <div class="ms-2 me-auto">
                                <div class="profile-card">
                                    <div class="profile-pic">
                                        <img th:src="@{'/'+${employee.myDisplayPicture}}" alt="Profile Picture">
                                    </div>
                                    <div class="profile-info" style="margin-left: -10px;">
                                        <div class="username" style="font-size: 9px;" th:text="${employee.fullName}">Ogunise Damila</div>
                                        <div class="email" style="font-size: 8px;" th:text="${employee.email}">ogunisedami.@gmail.com</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>

                </ul>

            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <h2 style="font-size: 12px; color: red; font-weight: 500;">Session Expiry Date</h2>
                <p style="font-size: 12px; color: black;">May 31,2025</span></p>

            </div>

        </div>
    </div>
</div>
<!-- end of modal body -->
<div class="modal-footer">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 142px; height: 36px; border-radius: 5px; background-color: white;color: red; font-weight: 500; font-size: 12px;border: 1px solid #666; " >Back</button>
    <button id="bookConfirm" type="button" class="btn" style="width: 142px; height: 36px; border-radius: 5px; background-color: red;color: white; font-weight: 500; font-size: 12px;">Continue</button>
</div>

<script src="main.js"></script>
<!-- Code injected by live-server -->
<script>
    // <![CDATA[  <-- For SVG support
    if ('WebSocket' in window) {
        (function () {
            function refreshCSS() {
                var sheets = [].slice.call(document.getElementsByTagName("link"));
                var head = document.getElementsByTagName("head")[0];
                for (var i = 0; i < sheets.length; ++i) {
                    var elem = sheets[i];
                    var parent = elem.parentElement || head;
                    parent.removeChild(elem);
                    var rel = elem.rel;
                    if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                        var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                        elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                    }
                    parent.appendChild(elem);
                }
            }
            var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
            var address = protocol + window.location.host + window.location.pathname + '/ws';
            var socket = new WebSocket(address);
            socket.onmessage = function (msg) {
                if (msg.data == 'reload') window.location.reload();
                else if (msg.data == 'refreshcss') refreshCSS();
            };
            if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                console.log('Live reload enabled.');
                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
            }
        })();
    }
    else {
        console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }
    // ]]>
</script>
</body>
</html>