<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://fonts.googleapis.com/css?family=Urbanist" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/richtext/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script th:inline="javascript">

        $(document).ready(function() {
            $('#caseNote').richText();

            $('#previewForm').submit(function(event) {
                event.preventDefault();
                $('#Preview').prop('disabled',true)
                $('#Preview').html(`
                <div class="d-flex justify-content-center">
                     <div class="spinner-border spinner-border-sm "  role="status">
                            <span class="visually-hidden">Loading...</span>
                     </div>
                </div>
                `)


                var $form = $(this);
                var $target = $($form.attr('data-target'));


                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    success: function(response) {
                        $('#bookingFooter').hide();
                        $target.html(response);
                        $('#Preview').prop('disabled',false)
                        $('#Preview').html('Continue')
                    },
                    error: function(error) {
                        // Handle the error
                        //x.style.display = "none";
                    }
                });
            });

        });

        var number = Number($("#coachAdded").text())
        function handleClick(x) {
            if (x.hasAttribute('data-clicked')) {
                return;
            }
            console.log(x);
            $('#addedCoaches').append(
                `<li class="list-group-item d-flex justify-content-between align-items-start">
            ${$('#l' + x.id).html()}
            <span>
                <button onclick="edit(${ x.id})" id="edit-${x.id}" type="button"
                class="btn-close btn-close-green" aria-label="Close"></button>
            </span>
            <input id="address-${x.id}" type="hidden" name="employeeList" value=" ">
        </li>`
            );
            $('#address-' + x.id).val($("#l" + x.id + " .email").html());
            console.log('#edit-' + x.id)
            console.log($('#address-' + x.id).val());
            $("#coachAdded").text(++number);
            x.style.backgroundColor = '#FEF4F4';
            $('.' + x.id).html(
                "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check-lg' viewBox='0 0 16 20'>" +
                '<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>' +
                '</svg>'
            );
            x.setAttribute('data-clicked', 'true');
        }
        function edit(element){
            console.log(element)
            $("#coachAdded").text(--number)
            element.style.backgroundColor='white'
            element.innerHTML='Add'
            console.log(element.id)
            $('#'+ element.id).one('click',function(){
                $('#addedCoaches').append(
                    `<li class="list-group-item d-flex justify-content-between align-items-start">
            ${$('#l' + element.id).html()}
            <span>
                <button onclick="edit(${ element.id})" id="edit-${element.id}" type="button" class="btn-close btn-close-green" aria-label="Close"></button>
            </span>
            <input id="address-${element.id}" type="hidden" name="email" value="">
        </li>`
                )
                $('#address').val($("#l"+element.id+ " .email").html())
                console.log(element.id)
                console.log( $('#address').val())
                $("#coachAdded").text(++number)
                element.style.backgroundColor='#FEF4F4'
                element.innerHTML= "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check-lg' viewBox='0 0 16 20' >"
                $('.bi-check-lg').html('<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>')
            })
        }
        $('body').on('click', '.btn-close', function(){

            $(this).parent().parent().remove()
        })
    </script>
</head>
<body>

<form id="previewForm"  method="POST"  th:action="@{/bookingPreview}"  data-target="#booking-modal" th:object="${booking}">

    <fieldset>
    <div class="modal-body" id="booking-modal">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <div style="padding:20px; height: 100%; width: 100%;">
        <h1 style="font-size: 16px;  font-weight: 700;">Setup Meeting</h1>
        <p style="font-size: 10px; color: #646E82; font-weight: 500;">You can only book a coach for a minimum of 3 sessions and maximum of 12 session at a time</p>
        <div class="row" style="--bs-gutter-y: 1rem;--bs-gutter-x: 1rem">
            <div class="col-6 ">
                <h4 style="font-size: 12px; color: #646E82; font-weight: 500;">1. Meeting Type</h4>
                <select th:field="${booking.meetingType}"
                        class="form-select" aria-label="Meeting Type" style="font-size: 12px;"
                th:if="${coachee.employee}">
                    <option th:value="0" >Select Meeting Type</option>
                    <option th:value="'One to one'" selected>One to one</option>
                    <option th:value="'Group'" >Group</option>
                </select>
                <input readonly name="meetingType" value="One to One"  class="form-control" th:if="${!coachee.employee}" />
            </div>
            <div class="col-6">
                <h4 style="font-size: 12px; color: #646E82; font-weight: 500;">2. Session Frequency</h4>
                <input th:field="${booking.frequency}" type="number"  class="form-control" />
                <p style="color: red; font-size: 11px;">All Sessions expires on August 31, 2024</p>
                <input th:field="${booking.coachId}" type="hidden"  class="form-control" />
            </div>
            <div class="col-12 col-sm-6">
                <h4 style="font-size: 12px; color: #646E82; font-weight: 500;">3. Expected Start Date</h4>
                <input class="form-control" type="date" th:field="${booking.proposedStartDate}"/>
            </div>
        </div>
        <hr>
        <div class="row" style="--bs-gutter-y: 1rem;--bs-gutter-x: 1rem" >
            <div class="col-12 ">
                <h4 style="font-size: 12px; color: #646E82; font-weight: 500;">4. Case Note</h4>
                <textarea th:field="${booking.caseNote}" class="form-control" rows="3"></textarea>
            </div>

        </div>
        <hr>
        <div class="row" style="--bs-gutter-y: 1rem;--bs-gutter-x: 1rem" th:if="${coachee.admin}">
            <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <h4 style="font-size: 12px; color: #646E82; font-weight: 500;">5. Coach</h4>
                <p style="font-size: 9px;">Add coachees from Onboarded Employees</p>
                <input style="font-size: 12px;" class="form-control" id="myInput" type="text" placeholder="Search..">
                <br>

                <ul class="list-group" id="myList" th:each="employee,iter : ${employees}">

                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div th:id="'laddItem'+${iter.index}">
                            <div class="ms-2 me-auto">
                                <div class="profile-card">
                                    <div class="profile-pic">
                                        <img th:src="@{'/'+${employee.myDisplayPicture}}" alt="Profile Picture">
                                    </div>
                                    <div class="profile-info" style="margin-left: -10px;">
                                        <div class="username" style="font-size: 9px;" th:text="${employee.fullName}">Ogunise Damila</div>
                                        <div class="email" style="font-size: 8px;" th:text="${employee.email}">ogunisedami.@gmail.com</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span><button onclick="handleClick(this)" th:id="'addItem'+${iter.index}" th:class="'addItem'+${iter.index}" type="button" style="color: red; text-align: center;border: none;border-radius: 6px; background-color: white; border: 1px solid #EBEBEB;padding: 3px;" >Add</button></span>
                    </li>

                </ul>




            </div>



            <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12" th:if="${coachee.admin}">
                <p style="font-size: 12px; color: #646E82; font-weight: 500;">Coachees Added (<span id="coachAdded" style="font-size: 12px;">0</span>)</p>
                <ul id="addedCoaches" class="list-group overflow-auto" style="font-size: 12px;">


                </ul>
            </div>
            <input id="employeeList" type="hidden" name="employeeList" th:value="${coachee.email}">
        </div>
    </div>

</div>
<!-- end of modal body -->
<div class="modal-footer" id="bookingFooter">
    <button type="button"  class="btn " data-bs-dismiss="modal" style="width: 142px; height: 36px; border-radius: 5px; background-color: white;color: red; font-weight: 500; font-size: 12px;border: 1px solid #666; " >Back</button>
    <button id="Preview" type="submit" class="btn" style="width: 142px; height: 36px; border-radius: 5px; background-color: red;color: white; font-weight: 500; font-size: 12px;">Continue</button>
</div>
    </fieldset>
</form>
<!--<script src="main.js"></script>-->
<!-- Code injected by live-server -->
<script>
    // <![CDATA[  <-- For SVG support
    if ('WebSocket' in window) {
        (function () {
            function refreshCSS() {
                var sheets = [].slice.call(document.getElementsByTagName("link"));
                var head = document.getElementsByTagName("head")[0];
                for (var i = 0; i < sheets.length; ++i) {
                    var elem = sheets[i];
                    var parent = elem.parentElement || head;
                    parent.removeChild(elem);
                    var rel = elem.rel;
                    if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                        var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                        elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                    }
                    parent.appendChild(elem);
                }
            }
            var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
            var address = protocol + window.location.host + window.location.pathname + '/ws';
            var socket = new WebSocket(address);
            socket.onmessage = function (msg) {
                if (msg.data == 'reload') window.location.reload();
                else if (msg.data == 'refreshcss') refreshCSS();
            };
            if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                console.log('Live reload enabled.');
                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
            }
        })();
    }
    else {
        console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }
    // ]]>
</script>
</body>
</html>