
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout/base_layout}" xmlns="http://www.w3.org/1999/html">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/coached/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="header py-0">
  <div class="header py-0">
    <div class="px-4 py-0  border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="images/CoachedLogo.svg" class="bi me-2" width="120" height="120" role="img" aria-label="Bootstrap"/><span style="color: red; font-size: 17px; font-weight:600;">EZ37</span>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">


            <li>
              <a href="#" class="nav-link text-white">
                <img src="images/Top Nav/Vector.png" class="bi d-block mx-auto mb-1" width="28" height="28"/>

              </a>
            </li>


            <li>
              <a href="#" class="nav-link text-white">
                <div style="display: flex; border-left: 2px solid rgba(0, 0, 0, 0.043);padding-left: 20px; ">
                  <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                    <img src="images/woman pic.png" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                  <div style="margin-left: 8px;">
                    <h3 style="font-size: 16px; color: #333;">Adams Wheeler</h3>
                    <p style="font-size: 10px; color:red; margin-top: -8px;">Admin</p>

                  </div>

                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar overflow-auto">
    <div class="d-flex flex-column flex-shrink-0 " style="width: 200px;  ">

      <ul class="nav nav-pills flex-column mb-auto" style="padding-top:30px ; gap: 10px;">
        <li>
          <a href="adminOverview.html" class="nav-link link-body-emphasis">
            <img src="images/mage_dashboard-fill.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
            <span style="padding-left: 13px;">Overview</span>
          </a>
        </li>
        <li class="nav-item"  >
          <a href="#" class="nav-link active" aria-current="page">
            <img src= "images/fluent_person-20-filled.png"  alt="" height="16px" width="16px" style="margin-left: 41px;">
            <span style="padding-left: 13px; color: red;">Coaches</span>
          </a>
        </li>
        <li>
          <a href="adminCoachees.html" class="nav-link link-body-emphasis">
            <img src="images/fluent_laptop-person-24-filled.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
            <span style="padding-left: 13px;">Coachees</span>
          </a>
        </li>
        <li>
          <a href="organisations.html" class="nav-link link-body-emphasis">
            <img src="images/clarity_organization-solid.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
            <span style="padding-left: 13px;">Organisation</span>
          </a>
        </li>
        <li>
          <a href="adminInvoice.html" class="nav-link link-body-emphasis">
            <img src="images/Home/basil_invoice-solid.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
            <span style="padding-left: 13px;">Invoices</span>
          </a>
        </li>
        <li>
          <a href="adminResources.html" class="nav-link link-body-emphasis">
            <img src="images/resources.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
            <span style="padding-left: 13px;">Resources</span>
          </a>
        </li>

        <li>
          <a href="adminSessionHistory.html" class="nav-link link-body-emphasis">
            <img src="images/Home/tabler_history.png"  alt="" height="16px" width="16px" style="margin-left: 27px;">
            <span style="padding-left: 13px;">Session History</span>
          </a>
        </li>

      </ul>

      <div class="dropdown" style="padding-top:74px ;">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none ">
          <img src="https://justjava2.share.zrok.io/images/Home/Vector@2x.png"  alt="" height="16px" width="16px" style="margin-left: 45px;">
          <span style="padding-left: 13px;">Log out</span>
        </a>

      </div>
    </div>
  </div>
</div>
<div class="content">
  <section layout:fragment="content">
    <h6  style="font-size: 17px; color: #000 ;font-family: sans-serif; font-weight: 700;">Coaches</h6>
    <p style="font-size: 10px; color: #646E82;;">View and manage all coaches on Coach-ed </p>
    <div class="cardi" style="padding: 20px;">
      <div style="overflow-x: auto; margin: 20px auto; width: 100%;">


        <table class="table" style="width: 100%; border: 1px solid #ccc; border-collapse: collapse;">
          <thead>
          <tr  style="font-size: 11px; text-wrap:nowrap;text-align: center;">
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email Address</th>
            <th scope="col">Date Approved</th>
            <th scope="col">Action</th>

          </tr>
          </thead>
          <tbody >
          <tr th:each="coach : ${coaches}">
            <td style="font-size: 9px;text-align: center;" th:text="${coach.firstName}">Marie</td>
            <td style="font-size: 9px;text-align: center;" th:text="${coach.lastName}">Plato</td>
            <td style="font-size: 9px;text-align: center;" >08145183889</td>
            <td style="font-size: 9px;text-align: center;" th:text="${coach.email}">akinrindeakinkunmi@gmail.com</td>
            <td style="font-size: 9px;text-align: center;">April 23, 2024</td>
            <td style="font-size: 9px;text-align: center;">
              <a th:href="@{'/coaches/'+${coach.id}}" style="color: red;">View Details</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>
</div>
<!-- Code injected by live-server -->
<script>
  // <![CDATA[  <-- For SVG support
  if ('WebSocket' in window) {
    (function () {
      function refreshCSS() {
        var sheets = [].slice.call(document.getElementsByTagName("link"));
        var head = document.getElementsByTagName("head")[0];
        for (var i = 0; i < sheets.length; ++i) {
          var elem = sheets[i];
          var parent = elem.parentElement || head;
          parent.removeChild(elem);
          var rel = elem.rel;
          if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
            var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
            elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
          }
          parent.appendChild(elem);
        }
      }
      var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
      var address = protocol + window.location.host + window.location.pathname + '/ws';
      var socket = new WebSocket(address);
      socket.onmessage = function (msg) {
        if (msg.data == 'reload') window.location.reload();
        else if (msg.data == 'refreshcss') refreshCSS();
      };
      if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
        console.log('Live reload enabled.');
        sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
      }
    })();
  }
  else {
    console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
  }
  // ]]>
</script>
</body>
</html>