<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link href='https://fonts.googleapis.com/css?family=Urbanist' rel='stylesheet'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script th:inline="javascript">
    $(document).ready(function() {
      $('#signAgreement').click(function(event) {
        event.preventDefault();

        $.get("/coached/signAgreement/"+[[${coachingSession.id}]],
                function(data, status){
          window.open('/coached/ongoingBookings')
          //alert("Data: " + data + "\nStatus: " + status);
        });

        //return;

      });

    });
  </script>
</head>
<body style="font-family: 'Urbanist';">
<div class="modal-body">
  <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close"></button>
  <div style="padding: 30px;font-family: 'Urbanist';height: 100%; width: 100%;">
    <div style="display:flex;justify-content: space-between; margin-bottom: 20px;">
      <div style="font-weight: 600;font-size: 20px;">Coaching Agreement</div>
      <div><img src="https://justjava2.share.zrok.io/images/CoachedLogo.svg" class="bi me-2" width="90"  role="img" aria-label="Bootstrap"/></div>
    </div>
    <h6 style="font-weight: 500;font-size: 15px;">This agreement is between:
      <ol style="margin-top: 20px;" >
        <li style="font-size: 13px;font-weight: 600;" ><span style="font-size: 13px;font-weight: 600;" th:text="${coachingSession.coach.fullName}">ADAORA AYOADE JOSEPH</span> <span style="color: red;margin-left: 20px; font-size: 13px;">(the “Coach”)</span></li>
        <li style="font-size: 13px;font-weight: 600;padding-top: 10px;margin-left: 3px;" ><span style="font-size: 13px;font-weight: 600;padding-top: 10px;margin-left: 3px;" th:text="${coachingSession.sessionBooker.fullName}">OGUNDIPE DAMILOLA FUNMILAYO</span><span style="color: red;margin-left: 20px;font-size: 13px;">(the organizational representative for the “Coachees”)</span></li>
      </ol>
    </h6>

    <p style="font-weight: 500;font-size: 15px;color: #646E82;">This agreement is sectioned into six (Section A - Section F) and you are advised to read it carefully before you agree</p>
    <h5 style="color: red;font-weight: 600;font-size: 15px;">A. The Coaching Goals</h5>
    <p style="font-size: 15px; font-weight: 500; color: #646E82;">The goals of the program are:
    <ul style="font-size: 13px; color: #646E82;">
      <li style="margin-bottom: 5px;">Communication</li>
      <li style="margin-bottom: 5px;">Stakeholder Engagement</li>
      <li>Influencing</li>
    </ul>
    </p>

    <h5 style="color: red;font-weight: 600;font-size: 15px;">B. Coaching Details</h5>
    <p style="font-size: 15px; font-weight: 500; color: #646E82;">There will be a total of twelve (12) coaching sessions, with a mid-session check-in after the sixth session, involving your sponsor. The coaching sessions will occur twice a month. The first coaching session, including a discussion about your leadership foundation form, will last up to 90 minutes. Subsequent sessions will have a duration of 60 minutes each.</p>
    <h5 style="color: red;font-weight: 600;font-size: 15px;">C. Expectations</h5>
    <p style="font-size: 13px; font-weight: 500; color: #646E82;"><span style="color: black;font-weight: 600;font-size: 13px;">Coaching Schedule:</span> The agreed time will be determined by both parties (the Coach and the Coachee) before the meeting. Rescheduling by either party can be done within a 12-hour notice. Coaching sessions already scheduled but not honoured by the Coachee, at least 15 minutes after the agreed start time, shall be counted as valid for payment as long as the Coach was available and was not informed of the need to reschedule as per terms of this agreement.</p>
    <p style="font-size: 13px; font-weight: 500; color: #646E82;"><span style="color: black;font-weight: 600;font-size: 13px;">Session Details:</span>  The coach will, during the course of the Program, share the following documents with the Coachees, which the Coachees are expected to fill and send back as appropriate. The documents are:
    <ul style="font-size: 13px; font-weight: 500;color: #646E82;">
      <li style="margin-bottom: 5px;"><span style="color: black; font-weight: 600;font-size: 13px;">Foundation Document:</span> The Coachees are expected to complete this before the commencement of the coaching sessions</li>
      <li style="margin-bottom: 5px;"><span style="color: black; font-weight: 600;font-size: 13px;"> Learning Journal:</span> The Coachees are expected to complete this after every session </li>
      <li> <span style="color: black; font-weight: 600;font-size: 13px;">Coaching Call Prep Form:</span> This is expected to be completed by the coachees and sent to the coach at least 24 hours before each session</li>
    </ul>
    </p>
    <h5 style="color: red;font-weight: 600;font-size: 15px;">D. The Coaching Institution’s Responsibility
      <ol style="font-size: 13px; font-weight: 500;color: #646E82;margin-top: 20px;">
        <li style="margin-bottom: 5px;">The Coach and the Coachees recognize that the purpose of the coaching relationship and the process is for the Coach to support the exploration of the Coachees’ goals and create change based on the Coachees’ choice.</li>
        <li style="margin-bottom: 5px;">Adaora Ayoade is bound by the International Coaching Federation (ICF) Code of Ethics, and all information generated during the process will be confidential.</li>
        <li style="margin-bottom: 5px;">The Coach is not a Mentor, Consultant, or Counsellor and does not give legal, financial advice or other advice. Coach and Coachees agree that the Coach may share examples for perspective, and the Coachees makes all choices and decisions for themselves  In areas not covered by the coaching relationship, the Coachees are advised to seek other professional advice or assistance as they may deem appropriate.</li>
        <li>The Coachees will take relevant notes and work on agreed action points to create personal change and self-improvement in reaching the Coachees’ goals.</li>
      </ol>
    </h5>
    <h5 style="color: red;font-weight: 600;font-size: 15px;">E. Termination</h5>
    <p style="font-size: 13px; font-weight: 500; color: #646E82;">All parties acknowledge that they are free to formally stop the coaching engagement at any time by notifying by email in writing at least 48 hours before the next scheduled session. <br>
      In the event of Termination, ONLY completed sessions will be paid for. The Coaching Institution shall make a refund of unused payment to the Sponsor if need be.</p>
    <h5 style="color: red;font-weight: 600;font-size: 15px;">F. Binding Effect</h5>
    <p style="font-size: 13px; font-weight: 500; color: #646E82;">This agreement shall be binding upon all parties hereto</p>
    <p style="font-size: 15px; font-weight: 500; color: red;">Note that by clicking on the “I Agree” button below means that you agree to the terms and conditions of the coaching agreement</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="" style="width: auto; height: 36px; border-radius: 5px; background-color: white;color: red; font-weight: 500; font-size: 12px;border: 1px solid #666; " >Cancel</button>
  <button type="button" id="signAgreement" class="btn" style="width: auto; height: 36px; border-radius: 5px; background-color: red;color: white; font-weight: 500; font-size: 12px;">I Agree</button>
</div>
<!-- Code injected by live-server -->
<script>
  // <![CDATA[  <-- For SVG support
  if ('WebSocket' in window) {
    (function () {
      function refreshCSS() {
        var sheets = [].slice.call(document.getElementsByTagName("link"));
        var head = document.getElementsByTagName("head")[0];
        for (var i = 0; i < sheets.length; ++i) {
          var elem = sheets[i];
          var parent = elem.parentElement || head;
          parent.removeChild(elem);
          var rel = elem.rel;
          if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
            var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
            elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
          }
          parent.appendChild(elem);
        }
      }
      var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
      var address = protocol + window.location.host + window.location.pathname + '/ws';
      var socket = new WebSocket(address);
      socket.onmessage = function (msg) {
        if (msg.data == 'reload') window.location.reload();
        else if (msg.data == 'refreshcss') refreshCSS();
      };
      if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
        console.log('Live reload enabled.');
        sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
      }
    })();
  }
  else {
    console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
  }
  // ]]>
</script>
</body>
<script src="main.js"></script>
</html>