<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Index Page</title>
</head>
<body>

<div class="col-10" style="text-align: justify;">
  <section layout:fragment="content">
    <div class="ratio ratio-16x9">
      <iframe src="https://justjava1.share.zrok.io/report/asset_list_report?output=pdf" title="YouTube video" allowfullscreen></iframe>
    </div>
  </section>
</div>

</body>
</html>